* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: black 2px solid;
}

.container {
  padding: 1em;
  background-color: lightgrey;
  min-height: 100vh;
  display: grid;
  grid-template:
    "servers header header header" 50px
    "servers rooms messages people" 1fr/
    50px 2fr 5fr 2fr;
  grid-gap: 5px;
}

.servers {
  grid-area: servers;
  background-color: blue;
  display: grid;
  grid-template-rows: 1fr 9fr;
  grid-gap: 5px;
}

.logo {
  background-color: lightslategrey;
}

.server-logos {
  background-color: lightgreen;
}

.header {
  grid-area: header;
  background-color: purple;
}

.rooms {
  grid-area: rooms;
  background-color: pink;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  grid-gap: 5px;
}

.server-name {
  background-color: darkcyan;
}

.server-rooms {
  background-color: darkorchid;
}

.user {
  background-color: darkmagenta;
}

.messages {
  grid-area: messages;
  background-color: yellow;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  grid-gap: 5px;
}

.room-name {
  background-color: royalblue;
}

.the-messages {
  background-color: rosybrown;
}

.message {
  background-color: rebeccapurple;
  overflow: scroll;
}

.people {
  grid-area: people;
  background-color: green;
}
