* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  background-color: lightgray;
  display: grid;
  grid-template:
    "header header header" 60px
    "profile main news" 1fr/
    1fr 3fr 1fr;
}

.header {
  background-color: rgb(238, 237, 237);
  grid-area: header;
  display: grid;
  grid-template-columns: 50px 200px 1fr 1fr 1fr 1fr 1fr 1fr 4fr;
  grid-gap: 10px;
  place-items: center;
  padding: 3px;
}

.logo {
  place-items: center;
  object-fit: contain;
}

.search {
  background-color: darkkhaki;
}

.search-bar {
  background-color: grey;
  width: 200px;
  height: 30px;
  border: grey solid 1px;
  border-radius: 5px;
}
.search-text {
  padding: 5px 0;
  margin-left: 2px;
}

.icon-container {
  place-items: right;
}

.work {
}

.profile {
  grid-area: profile;
  display: grid;
  grid-template-rows: 3fr 1fr 3fr;
  grid-gap: 10px;
}

.photo {
}

.personal-info {
  background-color: darkgrey;
  width: 295px;
  height: 395px;
  border: darkgrey solid 1px;
  border-radius: 20px;
  margin: 10px;
}

.boolean {
  background-color: grey;
}

.recent {
  background-color: green;
}

.main {
  grid-area: main;
  background-color: lightgray;
  display: grid;
  grid-template-rows: 1fr 5fr 200px;
  grid-gap: 10px;
}

.post {
  background-color: lightgreen;
}

.updates {
  background-color: lightcyan;
}

.companies {
  background-color: lightsalmon;
}

.main {
  grid-area: main;
  background-color: lightgray;
  display: grid;
  grid-template-rows: 1fr 5fr 200px;
  grid-gap: 10px;
}

.post {
  background-color: lightgreen;
}

.updates {
  background-color: lightcyan;
}

.companies {
  background-color: lightsalmon;
}

.news {
  grid-area: news;
  background-color: lightgrey;
  display: grid;
  grid-template-rows: 2fr 1fr 2fr;
  grid-gap: 10px;
}

.l-news {
  background-color: darkorchid;
}

.courses {
  background-color: darkkhaki;
}

.feed {
  background-color: darkmagenta;
}
